/* 注意 被：local()包裹起来的类名，会被模块化。默认情况下 ，所有的类名和ID都备模块化了 ，所以可以不加:local() */
/* 然而 被:global()包裹的类名不会被模块化，他是一个全局的样式，全局有效 如.test*/
:global(.test){
    color: bisque;
}

.title{
    color: red;
    font-size:'35px';
    font-weight:'200px';
    text-align: center
}
/* 模块化 只针对类选择器和Id选择器有效，不会将标签选择器模块化 */
/* 下面的好h1全局有效 ，前提是引入了该css文件*/
/* h1{
font-style: italic;
}

#cmtTitle{
    font-size: 14px;
}
#cmtItme{
    font-size: 12px;
    color:coral;
} */